
/*myStyle.css that is the file name and apparently this is how you make comments good to know.*/
body
{
    height: 100%;
     font-family: "josefin sans", Arial, sans-serif;
}
/*img {
	height: 100%;
	width: 100%
}*/

#container {
	max-width: 1400px;
	margin-left: auto;
	margin-right:auto;
	
	padding: 10px;
	display: flex; /*adding this line fixed it so the nav bar would extend down but i don't know why*/
}
#nav {
	background-color: #524466;
	width: 200px;
	float: left;
	min-height: 100%
	font-weight: bold;

}
#nav a{
	text-decoration: none;
	color: white;
}
#navheader{
	color: white;
	background-color: blue;
	height: 50px;
}
#headertext {
	width: 10%;
	float: left;
}
#headerlogo {
	width: 22%;
	float: right;
}
#navbody {
	color: white;
	
	height: 200px;	
}
.dashboard{
	background: url('./images/icons/sailboat2.png') no-repeat; /*why tf does backgr-image give me duplicate and then when adding background-repeat:no repat; it doesn't work but this does?????*/
padding-left: 20px;
}
.map {
background: url('./images/icons/sailboat2.png') no-repeat; /*why tf does backgr-image give me duplicate and then when adding background-repeat:no repat; it doesn't work but this does?????*/
padding-left: 20px;
}
.howitworks {
background: url('./images/icons/sailboat2.png') no-repeat; /*why tf does backgr-image give me duplicate and then when adding background-repeat:no repat; it doesn't work but this does?????*/
padding-left: 20px;
}
.submitproject {
background: url('./images/icons/sailboat2.png') no-repeat; /*why tf does backgr-image give me duplicate and then when adding background-repeat:no repat; it doesn't work but this does?????*/
padding-left: 20px;
}
.resources {
	background: url('./images/icons/sailboat2.png') no-repeat; /*why tf does backgr-image give me duplicate and then when adding background-repeat:no repat; it doesn't work but this does?????*/
padding-left: 20px;
}
ul {
	text-decoration: none;
	list-style-type: none;
}
#content {	
	max-width: 1160px;
	font-family: "Trebuchet MS", Times, serif;
	/*margin: 5px;*/
	float: left;
	background-color: #f4f6f9; /*this controls the color of the lower right section containing the cards why does this not float over everything and render the cards invisible? it's clearly somethign to do with the flaots but i'm just not clear... */
}
#hero{
	background-color: red;
	height: 300px;
}
#hero img{
	height: 100%;
	width: 100%;
}
#filtersearch {
	background-color: #00BCB4;
	height: 42px;
}
.searchform{
	float: right;
	width: 300px;
}
#gridholder {
	display: flex;
	background-color: #f4f4f4;
	justify-content: center;
	align-items: center;
	/*padding-left: 80px;*/
}
#gridholder2 {
	/*width: 95%;
	height: 95%;*/
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	background-color: orange; /*this doesn't work in what i beleive is due to the the content secion floating over it.  */
	text-align: center;
	/*padding-right: 80px;
	padding-top: 80px;
	padding-bottom: 80px; */
}

.card {
	/* adding shadows to create the "card" effect*/
	width: 280px;
	height: 326px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	background-color: white;
	/*margin: 15px;*/
	border: 3px solid gray;
	vertical-align: top;
	/*border-top: 10px solid orange;*/
	display: inline-block; /* why does inline-block work but changing it to just "inline" fucks it all up */
	padding: 60px 5px 1px;
	box-sizing: border-box;
}
/* on mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.cardimage 
{
	display: block;
	max-height: 80px;
	max-width: 80px;
	margin-left: auto;
	margin-right: auto;

} 
.searchrounded { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/magglass.svg') no-repeat 8px 6px; 
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	background-color: white;
}

.rounded { 
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
}
