
/*myStyle.css that is the file name and apparently this is how you make comments good to know.*/
img {
	height: 100%;
}

#container {
	width: 1400px;
	background: yellow;
	margin: 20px;
}
#nav {
	background-color: grey;
	width: 200px;
	float: left;
	height:600px;
}

#navheader{
	background-color: blue;
	height: 50px;
}
#navbody {
	background-color: green;
	height: 200px;
}
#content {	
	width: 1160px;
	height: 700px;
	font-family: "Trebuchet MS", Times, serif;
	margin: 5px;
	background-color: purple;
	float: left;
}
#hero{
	background-color: red;
	height: 300px;
}
#filtersearch {
	background-color: teal;
	height: 50px;
}
#gridholder {
	background-color: orange;
	height: 300px;
}
.card {
	/* adding shadows to create the "card" effect*/
	width: 250px;
	height:275px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	background-color: white;
}
/* on mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#cardimage img
{
	display: block;
	height: 100px;
	margin-left: auto;
	margin-right: auto;

} 
form{
	width:500px;
}
.searchrounded { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/magglass.svg') no-repeat 8px 6px; 
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	background-color: white;
}

.rounded { 
	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
}
