
/*myStyle.css that is the file name and apparently this is how you make comments good to know.*/
#container {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	background: yellow;

}
#header {
	background-color: grey;
	color: red;
	text-align: right;
	height: 100px;
	font-family: "Trebuchet MS", Times, serif;
}

#header li{
	font-size: 25px;
	display: inline;
	margin: 0px;
	padding: 10px;
	list-style-type: none;
	vertical-align: middle;
	}

#header a {
	text-decoration: none;

}
#hero {	
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 780px;
	color: red;
	text-align: center;
	font-family: "Trebuchet MS", Times, serif;
}
#hero img{
	max-width: 780px;
}